<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
<html>
  <head>
    <title>Subject</title>
  </head>

  <body>
    <%= render "common/navbar" %>
    <div class="container">
      <table class="table">
        <thead>
          <tr>
            <th>Subject</th>
            <th>Subject name</th>
            <th>Subject comment</th>
            <th>Subject term</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @subjects.each do |subject| %>
            <tr>
              <td><%= subject.subject_id %></td>
              <td><%= subject.subject_name %></td>
              <td><%= subject.subject_comment %></td>
              <td><%= subject.subject_term %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </body>
<html>
